<!DOCTYPE html>
<html ng-app="DOMVisibilityApp">
    <head>
        <title>DOM Visibility</title>
        <meta charset="UTF-8">
        <script src="../libs/angular/angular.min.js"></script>
        <script>
            
            var domVisibilityApp = angular.module("DOMVisibilityApp", []);
            
            domVisibilityApp.controller("DOMVisibilityCtrl", function($scope) {
                
                $scope.isShow = true;
                
            });
            
        </script>
    </head>
    <body ng-controller="DOMVisibilityCtrl">
        
        <div>
            <label for="showCheckbox">
                <input type="checkbox" ng-model="isShow" id="showCheckbox"> Show
            </label>
        </div>
        
        <h1>ng-show</h1>
        <div ng-show="isShow">
            This directive shows or hides the given HTML element based on the expression provided to the attribute
        </div>
        
        <h1>ng-hide</h1>
        <div ng-hide="!isShow">
            This directive hides or shows the given HTML element based on the expression provided to the attribute
        </div>
        
        <h1>ng-if</h1>
        <div ng-if="isShow">
            This directive removes or recreates a portion of the DOM tree based on an expression
        </div>
        
    </body>
</html>
