<!DOCTYPE html>
<html ng-app="TwoWayDataBindingApp">
    <head>
        <title>Two Way Data Binding</title>
        <meta charset="UTF-8">
        <script src="../libs/angular/angular.min.js"></script>
        <script>
            
            var twoWayDataBindingApp = angular.module("TwoWayDataBindingApp", []);
            
            twoWayDataBindingApp.controller("TwoWayDataBindingCtrl", function($scope) {
                
                $scope.items = [
                    { name: "Item 1", value: "Value 1" },
                    { name: "Item 2", value: "Value 2" },
                    { name: "Item 3", value: "Value 3" },
                    { name: "Item 4", value: "Value 4" },
                    { name: "Item 5", value: "Value 5" }
                ];
                
            });
            
        </script>
    </head>
    <body ng-controller="TwoWayDataBindingCtrl">
        
        <div>
            <h2>Items:</h2>
            <ul>
                <li ng-repeat="item in items">
                    {{item.name}}: {{item.value}}
                </li>
            </ul>
        </div>

        <div>
            <div ng-non-bindable>
                <h2>Two way data binding</h2>
                <h5>When you change value in input, value is changed in the model too</h5>
                <pre>&lt;input ng-model="items[1].name""&gt;</pre>
            </div>            
            Item 1 name: <input ng-model="items[0].name">
        </div>

        <div>
            <div ng-non-bindable>
                <h2>One way data binding</h2>
                <h5>When you change value in input, value is not changed in the model</h5>
                <pre>&lt;input value="{{items[1].name}}"&gt;</pre>
            </div>            
            Item 2 name: <input value="{{items[1].name}}">
        </div>
        
    </body>
</html>